<html>
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# <%= appNamespace %>: http://ogp.me/ns/fb/<%= appNamespace %>#">
        <meta property="fb:app_id" content="<%= appId %>" />
        <meta property="og:type"   content="<%= appNamespace %>:game" />
        <meta property="og:url"    content="<%= game.url %>" />
        <meta property="og:title"  content="<%= game.title %>" />
        <meta property="og:image"  content="<%= game.imageUrl %>" />
    </head>
    <body>
        <%= game.title %>
    </body>
</html>
